[buildout]
develop = . 
parts = mypython

# Tells buildout where to download packages in addition to Pypi.
find-links = 
    http://ooici.net/packages


# if needed:
# [versions]
# ionproto=?
# ioncore=?
setuptools = 0.6c11

# Create a python interpreter as well as Twisted entry scripts in bin/
# so we can run following scripts with correct dependencies in sys.path:
# bin/twistd
# bin/trial
# bin/python (python interpreter if you want to check things out)
# bin/ipython
# source bin/env if you want to export PYTHONPATH into your env 
[mypython]
recipe = zc.recipe.egg:scripts
interpreter = python
scripts = 
    twistd
    trial
    ipython
entry-points=
    twistd=twisted.scripts.twistd:run
    trial=twisted.scripts.trial:run
eggs =
    siamci
    ipython

